In [1]:
import requests
from datetime import datetime, timedelta
import pandas as pd

In [2]:
susa_stations = {'PRERICHARD':'PIE-001022-900', 'BORGONE':'PIE-001032-900', 'SALBELTRAND':'PIE-001232-900', 'AVIGLIANA':'PIE-001013-900'}

In [3]:
def get_data(station, start_date, end_date):
    url = "https://utility.arpa.piemonte.it/meteoidro/dati_giornalieri_meteo/"
    params = {
        "fk_id_punto_misura_meteo": station,
        "data_min": start_date,
        "data_max": end_date
    }
    return requests.get(url, params=params).json()

In [5]:
dfs_city = {}
for city, station_code in susa_stations.items():
    dfs = []   
    for year in range(1990, 2026):
        start_date = f"{year}-01-01"
        end_date = f"{year}-12-31"
        data = get_data(station_code, start_date, end_date)
        res = data.get('results')
        if len(res) > 0:
            df = pd.DataFrame(res)
            df = df.drop(['url', 'fk_id_punto_misura_meteo'], axis = 1)
            df = df.set_index('data')
            dfs.append(df)
        else:
            print(city, year)
    df_city = pd.concat(dfs, axis = 0)
    dfs_city[city] = df_city
    df_city.to_csv('data/' + city + '.csv', index_label=True)

PRERICHARD 2025

C:\Users\FabioTessarolo\AppData\Local\Temp\ipykernel_2816\2086655411.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_city = pd.concat(dfs, axis = 0)

BORGONE 1990
BORGONE 2025

C:\Users\FabioTessarolo\AppData\Local\Temp\ipykernel_2816\2086655411.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_city = pd.concat(dfs, axis = 0)

SALBELTRAND 2025
AVIGLIANA 1990
AVIGLIANA 2025

In [6]:
dfs_city['AVIGLIANA']

,tmedia,tmax,tmin,tclasse,ptot,pclasse,vmedia,vraffica,settore_prevalente,tempo_permanenza,...,vclasse,umedia,umin,umax,uclasse,rtot,rclasse,hdd_base18,hdd_base20,cdd_base18
data,,,,,,,,,,,,,,,,,,,,,
1991-01-09,NaN,NaN,NaN,M000,NaN,M0,NaN,NaN,None,NaN,...,M00000,NaN,NaN,NaN,M000,NaN,M0,NaN,NaN,NaN
1991-01-10,1.6,8.8,-2.2,M000,0.0,MZ,0.3,3.4,W,150.0,...,M00000,88.0,57.0,99.0,M000,4.8,M0,14.7,16.7,0.0
1991-01-11,2.8,10.3,-1.8,M000,0.2,MY,0.4,4.8,W,190.0,...,M00000,86.0,56.0,100.0,M000,5.4,M0,13.8,15.8,0.0
1991-01-12,4.4,7.1,2.1,M000,0.0,MZ,0.4,3.8,W,220.0,...,M00000,86.0,75.0,98.0,M000,1.9,M0,13.4,15.4,0.0
1991-01-13,3.6,4.6,2.4,M000,20.0,MZ,0.6,8.3,WNW,120.0,...,M00000,97.0,89.0,100.0,M000,0.9,M0,14.5,16.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-27,0.3,12.4,-5.6,AY*0,0.0,AZ,NaN,NaN,None,NaN,...,A00000,73.0,24.0,96.0,AY**,7.6,AZ,14.6,16.6,0.0
2024-12-28,2.1,17.7,-4.6,AY*0,0.0,AZ,NaN,NaN,None,NaN,...,A00000,71.0,18.0,97.0,AY**,7.4,AZ,11.5,13.5,0.0
2024-12-29,2.6,16.8,-3.7,AY*0,0.0,AZ,1.2,3.9,WSW,670.0,...,AY*YYY,75.0,26.0,98.0,AY**,7.4,AZ,11.5,13.5,0.0
2024-12-30,2.3,15.0,-3.7,AY*0,0.0,AZ,1.1,3.7,WSW,720.0,...,AY*YYY,77.0,31.0,98.0,AY**,7.4,AZ,12.4,14.4,0.0
2024-12-31,1.3,12.8,-4.5,AZ00,0.0,AZ,1.1,3.3,WSW,710.0,...,AY*YYY,80.0,37.0,98.0,AY**,7.3,AZ,13.9,15.9,0.0